.cat-banner
  .container
    .cat-banner__wrap
      .cat-banner__container
        a(href="#",class="cat-banner__item cat-banner__item--lg")
          p.cat-banner__title увлажнение и питание для лица
          img(src="img/pic/bg/cat-banner-1.jpg", width="", height="", alt="")
      .cat-banner__container
        a(href="#",class="cat-banner__item cat-banner__item--md")
          p.cat-banner__title Уход за ногтями
          img(src="img/pic/bg/cat-banner-2.jpg", width="", height="", alt="")
        .cat-banner__block
          a(href="#",class="cat-banner__item cat-banner__item--sm")
            p.cat-banner__title скрабы
            img(src="img/pic/bg/cat-banner-3.jpg", width="", height="", alt="")
          a(href="#",class="cat-banner__item cat-banner__item--sm")
            p.cat-banner__title пилинг
            img(src="img/pic/bg/cat-banner-4.jpg", width="", height="", alt="")
