include ../components/card-blog

.main-blog
  .container
    p.title Наш блог
    .main-blog__swiper
      ul.swiper-wrapper
        li.swiper-slide
          +blog("#","img/pic/temp/blog_1.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_2.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_3.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_4.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_1.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_2.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_3.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")
        li.swiper-slide
          +blog("#","img/pic/temp/blog_4.png","280","280","news", "20 августа 2020", "Что искать в составе шампуня?")