include ../components/accordion

div(class="modal-search modal fade", id="search" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      div(class="md-form mt-0")
      input(class="form-control" type="text" placeholder="Поиск" aria-label="Search")