.subscribe
  .container
    div
      p.subscribe__title Подпишитесь  на рассылку
      p.subscribe__description Узнавайте о выгодных предложениях и новинках первыми!

    input(
      type="email"
      name="subscribe_input"
      placeholder="E-mail"
    )

    btn.btn.btn--sm Подписаться