nav(aria-label="breadcrumb")
  ol.breadcrumb
    li.breadcrumb-item
      a(href="#") Весна
    li.breadcrumb-item
      a(href="#") Каталог
    li.breadcrumb-item
      a(href="#") уход за лицом
    li(class="breadcrumb-item active" aria-current="page")
      span увлажнение