mixin count(cls)
  div(class=cls class="count")
    button(class="card-checkout__count-minus" type="button") -
    input(type="number" class="count__val" name=name value="1")
    button(class="card-checkout__count-plus" type="button") +