.blog {
  &__container {
    display: flex;

    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__content {

    @media screen and (min-width: 992px) {
      width: 66.3%;
      margin-top: 50px;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;

    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;

    @media screen and (max-width: 991px) {
      margin-top: 20px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
    }

    li {
      position: relative;
      padding: 0 10px;

      &:not(:last-of-type) {
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 1px;
          height: 100%;
          background-color: #000;
        }
      }
    }
  }

  &__like {
    cursor: pointer;

    span {
      margin-left: 55px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-image: url("../img/pic/ico/heart_ico.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 17px;
        height: 13px;
        top: 0;
        bottom: 0;
        left: -20px;
        margin: auto;
      }
    }

    &--active {
      span {
        &:after {
          background-image: url("../img/pic/ico/heart-orange-full_ico.png");
        }
      }
    }
  }

  &__views {
    span {
      margin-left: 35px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        background-image: url("../img/pic/ico/view_ico.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 11px;
        top: 0;
        bottom: 0;
        left: -25px;
        margin: auto;
      }
    }
  }

  &__socials {
    display: flex;

    @media screen and (max-width: 991px) {
      margin-top: 30px;
    }

    li {
      &:not(last-of-type) {
        margin-right: 10px;
      }
    }

    a {
      img {
        transition: opacity .3s ease;
        border-radius: 50%;
      }

      &:hover {
        img {
          opacity: .8;
        }
      }
    }
  }

  &__title {
    margin-bottom: 60px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;

    &:not(:last-of-type) {
      margin-bottom: 55px;
    }
  }

  &__footer {
    padding-bottom: 17px;
    margin-top: 120px;
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(89, 54, 61, .3);

    a {
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      letter-spacing: 0.8px;
      font-family: Raleway;
      color: #ff5c5c;

      &:hover {
        color: #ee8347;
      }
    }

    li {
      &:not(:last-of-type) {
        margin-right: 23px;
      }
    }
  }

  &__navigation {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
      flex-direction: column;
    }

    @media screen and (min-width: 992px) {
      padding-right: 45px;
    }

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.8px;
    }
  }

  &__buttons {
    display: flex;

    @media screen and (max-width: 991px) {
      margin-top: 30px;
    }

    &-prev {
      position: relative;
      height: 20px;
      text-align: end;

      @media screen and (max-width: 991px) {
        width: 120px;
      }

      @media screen and (min-width: 992px) {
        width: 160px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url("../img/pic/ico/big-arrow-left.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 991px) {
          width: 20px;
          height: 15px;
        }

        @media screen and (min-width: 992px) {
          width: 30px;
          height: 21px;
        }
      }
    }

    &-next {
      position: relative;
      height: 20px;

      @media screen and (max-width: 991px) {
        width: 120px;
        margin-left: 20px;
      }

      @media screen and (min-width: 992px) {
        width: 160px;
        margin-left: 35px;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url("../img/pic/ico/big-arrow-right.png");
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (max-width: 991px) {
          width: 20px;
          height: 15px;
        }

        @media screen and (min-width: 992px) {
          width: 30px;
          height: 21px;
        }
      }
    }
  }

  &__sidebar {
    @media screen and (max-width: 991px) {
      display: none;
    }

    @media screen and (min-width: 992px) {
      width: 33.7%;
      margin-top: 50px;
      padding-left: 100px;

      &-title {
        padding-bottom: 13px;
        border-bottom: 1px solid #59363d;
        display: block;
        font-size: 24px;
        font-weight: 400;
        line-height: 23px;
        text-transform: uppercase;
        letter-spacing: 0.6px;
      }

      &-tags {
        margin-top: 40px;
        margin-bottom: 130px;
        padding-left: 10px;
        display: flex;
        flex-wrap: wrap;

        li {
          width: 40%;
          margin-right: 20px;
          margin-bottom: 20px;
        }

        a {
          word-wrap: break-word;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 300;
          line-height: 23px;
          letter-spacing: 0.8px;
          color: #4e4d53;
        }

      }

      &-news {
        li {
          padding-top: 35px;
          padding-bottom: 40px;
          border-bottom: 1px solid rgba(89, 54, 61, .3);
        }

        &-date {
          display: block;
          margin-bottom: 22px;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.4px;
        }

        &-title {
          display: block;
          margin-bottom: 30px;
          font-weight: 600;
          letter-spacing: 0.4px;
          text-transform: uppercase;
        }

        &-text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          min-height: 77px;
          max-height: 77px;
          font-weight: 400;
          letter-spacing: 0.4px;
          line-height: 26px;
        }
      }
    }


  }
}