.footer {
  color: #ffffff;
  background-color: #7f9ac4;

  a {
    &:hover {
      color: #f1c756;
    }
  }

  @media screen and(max-width: 991px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  @media screen and(min-width: 992px) {
    padding-top: 85px;
    padding-bottom: 25px;
  }

  &__title {
    display: block;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    @media screen and(max-width: 991px) {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 700;
    }

    @media screen and(min-width: 992px) {
      margin-bottom: 25px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__list {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      @media screen and(max-width: 991px) {
        display: none;
      }
    }

    a {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 36px;
      color: #ffffff;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  &__top-content {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

    @media screen and(max-width: 991px) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    @media screen and(min-width: 992px) {
      justify-content: space-between;
      padding-bottom: 60px;
      margin-bottom: 40px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 991px) {
      width: 100%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, .3);
    }

    a,
    span:not(.footer__title) {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.4px;
      color: #ffffff;
    }

    a {
      margin-bottom: 20px;
    }

    span:not(.footer__title) {
      line-height: 24px;
    }
  }

  &__social-list {
    display: flex;

    @media screen and(max-width: 991px) {
      order: -1;
      justify-content: center;
      margin-bottom: 20px;
    }

    @media screen and(min-width: 992px) {
      margin-top: 30px;
    }

    li {
      &:not(last-of-type) {
        margin-right: 10px;
      }
    }

    a {
      img {
        transition: background-color .3s ease;
        border-radius: 50%;
      }
      &:hover {
        img {
          background-color: #f1c756;
        }
      }
    }
  }

  &__bottom-text {
    text-align: center;
  }
}