.main-tabs {
  margin-bottom: 60px;

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    color: #010101;
    letter-spacing: 0.8px;

    @media screen and(max-width: 991px) {
      font-size: 20px;
    }

    @media screen and(min-width: 992px) {
      font-size: 32px;
    }

    &.active,
    &:hover {
      color: #ee8347;
    }

    &.active {
      &:after {
        position: absolute;
        content: "";
        bottom: -20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 1px;
        background-color: #ee8347;

        @media screen and(min-width: 992px) {
          width: 201px;
        }
      }
    }
  }

  .nav {
    width: max-content;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
    position: relative;
    justify-content: center;

    @media screen and(max-width: 991px) {
      display: flex;
    }

    &:before {
      position: absolute;
      content: "";
      bottom: 30px;
      left: 0;
      right: 0;
      margin: auto;
      height: 1px;
      background-color: #cccccc;
    }

    li {
      position: relative;

      &:not(:last-of-type) {
        @media screen and(max-width: 991px) {
          margin-right: 15px;
        }

        @media screen and(min-width: 992px) {
          margin-right: 50px;
        }

        &:before {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          margin: auto;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #ee8347;

          @media screen and(max-width: 991px) {
            right: -20px;
          }

          @media screen and(min-width: 992px) {
            right: -50px;
          }
        }
      }

      &:nth-of-type(2n) {
        @media screen and(max-width: 991px) {
          margin-left: 15px;
        }

        @media screen and(min-width: 992px) {
          margin-left: 50px;
        }
      }

      &:last-of-type {
        .main-tabs__title {
          &:after {
            @media screen and(min-width: 992px) {
              left: -52px;
            }
          }

          &.active:after {
            @media screen and(min-width: 992px) {
              width: 290px;
            }
          }
        }
      }
    }
  }

  &__swiper {
    overflow: hidden;

    .swiper-slide {
      @media screen and(min-width: 540px) and (max-width: 960px) {
        margin-right: 15px;
      }
    }
  }
}