block variables

doctype html
html(lang="ru")
  include  ../modules/head
  body.about
    block content
    include ../modules/header
    main
      .mask
      include ../modules/main-banner
      .container.about__container
        .about__section
          div
            p.about__title.about__title--red Весна
            p.about__text
              | Мы хотим делать этот мир красивее,
              | ярче и лучше. Для нас это не просто
              | слова – мы в это действительно верим
              | и считаем, что если счастлива Женщина
              | – счастлив весь мир. Наша команда с любовью
              | каждый день делает свое Дело, чтобы Вы с лёгкостью
              | находили поводы улыбаться и радовать окружающих своим прекрасным настроением.
            p.about__text
              | Для ухоженности и прекрасного настроения
              | каждому необходима косметика для волос,
              | для тела, купить которую Вы можете в нашем
              | магазине. Для тех, кто любит красоту, стремимся
              | предоставить лучшую продукцию, услуги и консультации для наших клиентов.
          img(src="img/pic/bg/about_1.png" width="800" height="750" alt="")
        .about__section
          div
            p.about__title.about__title--yellow Уникальная коллекция
            p.about__text
              | Более 4500 брендов и 200 000 товаров — наша команда знает,
              | что актуально именно сегодня и появление каких брендов вызовет
              | ажиотаж у настоящих ценителей косметики и парфюмерии.
            p.about__text
              | Мировые бестселлеры, новинки и эксклюзивные премьеры, редкие ароматы
              | и бренды из разных уголков планеты, новые возможности для экспериментов
              | бьюти-артистов — ассортимент  постоянно пополняется и помогает воплотить в реальность самые смелые идеи.
            p.about__text Мы работаем с такими компаниями: Шарм Дистрибьюторс, Дентал Бьюти Дистрибьюшен, НеоБьюти,
              | AUTHENTICA, Aldo Coppola и др. Ассортимент нашего магазина постоянно расширяется. Линии,
              | которые представлены у нас, имеют самый широкий выбор средств.
          img(src="img/pic/bg/about_2.png" width="840" height="" alt="760")
        .about__description
          p.about__title.about__title--blue индивидуальный подход
          p.about__text Весна знает о ваших предпочтениях, мыслях и мечтах. Ежегодно наши клиенты получают более 1 млн подарков. Пробники, миниатюры, дегустация редких ароматов, акции, квесты с ценными призами и специальные предложения — мы всегда стремимся открывать для вас новые бренды и помогаем находить фаворитов!
          p.about__text Мы также организовали масштабную клиентскую поддержку от ведущих специалистов популярных брендов — для этого вам нужно просто задать вопрос на страничке интересующего товара. Эффективная система учета, обработки и подготовки заказов на складах, собственная курьерская служба и партнерство с ведущими логистами позволяют клиентам быстро и удобно получить все заказы. Мы экономим ваше время для действительно важных вещей!
          p.about__text
            | Накопительная система скидок постоянным покупателям! <br>
            | Независимо от того, где вы живете, наши консультанты всегда рады Вам помочь в выборе средств, по телефону, понедельник-пятница с 10:00 до 19:00 (по московскому времени). <br>
            | Всегда в наличии, минимальные сроки доставки, доступные цены. <br>
            | Обслуживаем клиентов из самых разных регионов России, и гордимся нашими клиентами.


    include ../modules/features
    include ../modules/subscribe
    include ../modules/footer
    include ../modules/modals

    block scripts
      script(src="js/jquery.js")
      script(src="js/bootstrap.bundle.js")
      script(src="js/swiper-bundle.js")
      script(src="js/scripts.min.js")

